<div class="top-page">
  <div class="wedding-page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">岸和田</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disabled"><%= link_to "ユーザーログイン"%></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wedding-logo text-center">
      <%= image_tag "logo.png", class: "wedding-content"%>
    </div>
    <div class="planner-btn text-center">
      <div class="card-body text-white">
        <h6 class="card-title">ウェディングのお手伝いをしたい</h6>
        <div class="planner-rogin">
          <%= link_to "プランナー様はこちら",class:"no-underline"%>
        </div>
      </div>
    <div>
  </div>
</div>
